body
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-size: 12px;
	font-family: ו;
}
a:link
{
	font-size: 12px;
	color: #003366;
	text-decoration: none;
}	
		
a:visited
{
	font-size: 12px;
	color: #003366;
	text-decoration: none;
}	
		
a:active
{
	font-size: 12px;
	color: #003366;
	text-decoration: none;
}	
a:hover
{
	font-size: 12px;
	color: #ff0000;
	text-decoration: underline;
}
img
{
	margin:0 0 0 0; border:0px;
}
td
{
	font-size: 12px;
	color: black;
}
p
{
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: 10px;
	color: black;
	text-indent: 2em;
	line-height: 14px;
	font-family: ו;
}
.grid100{width:100%;}
.gridhead
{
	background-color:#cccccc;
	height:20px;
	text-align:left;
}
.griditem
{
	background-color:White;
	height:20px;
}
.gridalter
{
	background-color:#f6f6f6;
	height:20px;
}
.mybutton{cursor:pointer;height:22px;
    text-align: center;
}
.title{
    line-height:30px;font-weight:bold;color:#003366;font-size:14px;
}
.title2
{
    line-height:30px;font-weight:bold;color:#336600;margin:0px 0px 0px 10px;
}
.mydiv
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 5px;
	padding-top: 0px;
}
.alter{height:10px;}

.div1
{
	width: 99%; 
	border-right: #a9a9a9 1px dotted; 
	border-top: #a9a9a9 1px dotted; 
	border-left: #a9a9a9 1px dotted; 
	border-bottom: #a9a9a9 1px dotted;
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
	line-height:20px;
}
.msg
{
    padding:5px 5px 5px 5px;font-size:14px; font-weight:bold; color:#ff0000;    
}
.line
{
    line-height:30px;
}
.bluetitle{color:#006699;font-weight:bold;}
